mixin checkbox(item)
  .checkbox(class=`${item.className||''} ${(item.more||item.tooltip)?'js-tooltip-parent':''}`)
    input(type="checkbox" name=item.name checked=item.checked id=item.name)
    span.checkbox__checkmark

    label(for=item.name).checkbox__label=item.label

    if item.more
      span.checkbox__label
        | &nbsp;-&nbsp;
      span.link.checkbox__more.js-tooltip-link
        | Learn more

    if item.tooltip
      span.link.checkbox__help
        svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg").js-tooltip-link
          path(d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16Z" fill="#C0C0C0")
          path(d="M20.5781 12.4756C20.5781 13.0127 20.5212 13.4847 20.4072 13.8916C20.2933 14.2985 20.1387 14.6647 19.9434 14.9902C19.748 15.3076 19.5243 15.5965 19.272 15.8569C19.0278 16.1092 18.7756 16.3493 18.5151 16.5771L17.7583 17.2485C17.506 17.4683 17.2782 17.7043 17.0747 17.9565C16.8794 18.2007 16.7166 18.4733 16.5864 18.7744C16.4562 19.0674 16.387 19.4092 16.3789 19.7998H13.7056C13.7381 19.1081 13.8602 18.5181 14.0718 18.0298C14.2834 17.5334 14.5356 17.1021 14.8286 16.7358C15.1297 16.3696 15.4512 16.0441 15.793 15.7593C16.1348 15.4663 16.4481 15.1693 16.7329 14.8682C17.0259 14.5671 17.266 14.2415 17.4531 13.8916C17.6484 13.5335 17.7461 13.1104 17.7461 12.6221C17.7461 11.9059 17.5549 11.3403 17.1724 10.9253C16.7899 10.5103 16.2446 10.3027 15.5366 10.3027C15.1948 10.3027 14.8815 10.3678 14.5967 10.498C14.3118 10.6201 14.0596 10.7951 13.8398 11.0229C13.6201 11.2508 13.4411 11.5275 13.3027 11.853C13.1644 12.1785 13.0749 12.5366 13.0342 12.9272L10.1777 12.7808C10.2591 12.0565 10.4219 11.377 10.666 10.7422C10.9183 10.1074 11.2601 9.55404 11.6914 9.08203C12.1309 8.61003 12.6639 8.23568 13.2905 7.95898C13.9253 7.68229 14.6618 7.54395 15.5 7.54395C16.2975 7.54395 17.0096 7.65788 17.6362 7.88574C18.2629 8.11361 18.7959 8.4432 19.2354 8.87451C19.6748 9.29769 20.0085 9.81445 20.2363 10.4248C20.4642 11.0352 20.5781 11.7188 20.5781 12.4756ZM13.6201 25V21.7041H16.5132V25H13.6201Z" fill="white")

    if item.more||item.tooltip
      .checkbox-tooltip.js-tooltip-item
        svg(width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg").checkbox-tooltip__icon
          circle(cx="24" cy="24" r="21.5" stroke="black")
          path(d="M22.6816 36.8926C22.6816 36.291 22.9688 35.8809 23.543 35.6621C23.707 35.6074 23.8574 35.5801 23.9941 35.5801C24.623 35.5801 25.0469 35.8672 25.2656 36.4414C25.3203 36.6055 25.3477 36.7559 25.3477 36.8926C25.3477 37.5215 25.0469 37.9316 24.4453 38.123C24.2812 38.1777 24.1309 38.2051 23.9941 38.2051C23.3926 38.2051 22.9824 37.918 22.7637 37.3438C22.709 37.1797 22.6816 37.0293 22.6816 36.8926ZM22.9688 31.1914V9.28906H25.0605V31.1914H22.9688Z" fill="black")

        span.checkbox-tooltip__text=item.more||item.tooltip
